/* impostazioni testata */
#testata {
    width: 83%;
    position: relative;
    background-image: url(../img/pattern.png);
    height: 120px;
    background-color: #4ea0ff;
    background-size: 380px;
    margin: auto;
}
#logo {
    height: 60px;
    position: absolute;
    top: 35px;
    left: 0;
    background-repeat: repeat;
}
body {
margin: 0;
}