/* impostazioni testata */
#testata {
    position: relative;
    background-image: url(../img/pattern.png);
    height: 100px;
    background-color: #4ea0ff;
    background-size: 320px;
    margin: 0;
}
#logo {
    height: 50px;
    position: absolute;
    top: 25px;
    left: 15%;
    background-repeat: repeat;
}
/* rimozione bordi body */
body {
    margin: 0;
}
/* impostazione width pagina */
.container {
    width: 70%;
    margin: auto;
}
/* regole specifiche */
h1 {
    margin-top: 30px;
    font-size: 38px;
    margin-bottom: 0;
}
#autore-articolo {
    font-style: normal;
    color: rgb(143, 143, 143);
}
a {
    text-decoration: none;
    color:#4bb6e9;
}
span {
    font-size: 12px;
}
#autori-foto {
    font-style: normal;
    font-size: 12px;
}
p {
    font-size: 20px;
}
ul {
    padding-left: 15px;
}
thead {
    color: white;
    background-color: #20a9e5;
    text-align: left;
}
.riga-colonna {
    background-color: #b1e5f2;
}
.grafic{
    padding-right: 150px;
}
table {
    border-collapse: collapse;
}
h2 {
    color: rgb(143, 143, 143);
}
.foto-approfondimento {
    position: relative;
}
.scritte-foto {
    position: absolute;
    top: -10px;
    left: 15px;
    color: white;
    font-size: 25px;
}